<a href="https://colab.research.google.com/github/sonnet16/Python/blob/main/Week1%2C2%2C3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# First program

In [ ]:
print("Shaharuk Ahamad Sonnet")

Shaharuk Ahamad Sonnet

# Arithmetic Operation and Type

In [ ]:
x=int(input("Enter a number: "))
y=int(input("Enter Another NUmber: "))
z=input("Enter Your Name")
sum=x+y
sub=x-y
mul=x*y
div=x/y
Exponentian = x**y
print(f"The SUM is :{sum} \nThe SUB is : {sub} \nThe MUl is : {mul} \nThe DIV is : {div} \nThe Exponentian is : {Exponentian}")
print("All The Type Of all Ans:")
print(f"SUM = {type(sum)} \n SUB = {type(sub)} \nDIV = {type(div)}")
print(type(z))

Enter a number: 12
Enter Another NUmber: 5
Enter Your NameSonnet
The SUM is :17
The SUB is : 7
The MUl is : 60
The DIV is : 2.4
The Exponentian is : 248832
All The Type Of all Ans:
SUM = <class 'int'>
 SUB = <class 'int'>
DIV = <class 'float'>
<class 'str'>

# IF, ELSE IF AND ELSE Statement

In [ ]:
grade = int(input("Enter the Number That you get in your Exam: "))
if grade>=40:
  print("PASSED")
  if grade<=50:
    print(f"Your GRADE in this EXam = D ")
    
  elif grade<=59:
    print(f"Your GRADE in this EXam = C ")
  elif grade<=69:
    print(f"Your GRADE in this EXam = B ")
  elif grade<=79:
    print(f"Your GRADE in this EXam = A ")
  elif grade<=100:
    print(f"Your GRADE in this EXam = A+ ")
else :
  print("FAILED")

Enter the Number That you get in your Exam: 70
PASSED
Your GRADE in this EXam = A

# LOOP
WHILE

In [ ]:
z=[]
i=0
while i<5:
  x=int(input("Enter a NUmber :  "))
  z.append(x)
  i+=1
print(z)

Enter a NUmber :  7
Enter a NUmber :  4
Enter a NUmber :  0
Enter a NUmber :  9
Enter a NUmber :  5
[7, 4, 0, 9, 5]

FOR

In [ ]:
z=[7, 8, 5, 10, 6, 5, 8, 9]
numbers=[]
for number in z:
  if number not in numbers:
    numbers.append(number)
print(numbers) 
print(f"Sorted List: {sorted(numbers)}")

[7, 8, 5, 10, 6, 9]
Sorted List: [5, 6, 7, 8, 9, 10]