<a href="https://colab.research.google.com/github/sonnet16/Python/blob/main/week3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Define **Funtion**

In [ ]:
def add(a, b):
  c=a+b
  return c
def sub(a, b):
  d=max(a, b)
  e=min(a,b)
  c=d-e
  return c
def mul():
  d=12*3
  return d
def sonnet(c):
  print(c)

def prnt(a, b):
  e = min(a, b)
  c=max(a, b)
  for number in range(e, c):
    print(number, end=" ")


a= int(input("Enter a Number: "))
b= int(input("Enter a Number: "))
d= add(a, b)
e= sub(a, b)
g = mul()
print(f"The sum is: {d}")
print(f"The sub is: {e}")
print(f"The Multiplication is : {g}")
f= sonnet("My Name Sonnet")
h= prnt(a, b)

Enter a Number: 2
Enter a Number: 23
The sum is: 25
The sub is: 21
The Multiplication is : 36
My Name Sonnet
2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22

In [59]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [60]:
drive.mount("/content/drive", force_remount=True)

Mounted at /content/drive

In [61]:
import pandas as pd

In [62]:
test = pd.read_csv('/content/drive/My Drive/Fall-2020 ML Lab/test.csv')
test.head()

     Name  Popularity(out of 10)
0  Python                    9.0
1       C                    6.0
2     C++                    NaN
3    Java                    7.0
4  Prolog                    3.0